<div class="lsw_wiki">
    <div class="typical_title_1">
        <div class="flex_row centered">
            <div class="flex_100">🔬 Enciclopedia:</div>
            <div class="flex_1">
                <div class="pad_left_1">
                    <button :class="{activated: selectedSection === 'libros'}"
                        class="supermini"
                        v-on:click="() => selectSection('libros')"> 📚</button>
                </div>
            </div>
            <div class="flex_1">
                <div class="pad_left_1">
                    <button :class="{activated: selectedSection === 'categorias'}"
                        class="supermini"
                        v-on:click="() => selectSection('categorias')">🧲</button>
                </div>
            </div>
            <div class="flex_1">
                <div class="pad_left_1">
                    <button :class="{activated: selectedSection === 'articulos'}"
                        class="supermini"
                        v-on:click="() => selectSection('articulos')">🔎</button>
                </div>
            </div>
            <div class="flex_1">
                <div class="pad_left_1">
                    <button class="supermini"
                        v-on:click="() => goToAddArticulo()">➕</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="wiki_libros"
        v-if="selectedSection === 'libros'">
        <lsw-book-factory />
    </div>
    <div class="wiki_categorias"
        v-else-if="selectedSection === 'categorias'">
        <div class="typical_title_1">
            <div class="flex_row centered">
                <div class="flex_100">🧲 Categorías</div>
                <div class="flex_1 pad_left_1">
                    <button class="supermini"
                        v-on:click="refreshCategorias">🛜</button>
                </div>
                <div class="flex_1 pad_left_1">
                    <button class="supermini"
                        v-on:click="openCategoriasFile">↗️</button>
                </div>
            </div>
        </div>
        <div class="pad_top_1">
            <lsw-wiki-categorias v-if="isLoadedCategorias" />
        </div>
    </div>
    <div class="wiki_articulos"
        :class="{esta_buscando:isSearching}"
        v-else-if="selectedSection === 'articulos'">
        <div class="typical_title_1">
            <div class="flex_row centered">
                <div class="flex_100">📃 Artículos</div>
                <div class="flex_1">
                    <button class="supermini visibility_hidden"
                        v-on:click="refreshArticulos">🛜</button>
                </div>
            </div>
        </div>
        <div class="pad_top_1">
            <lsw-wiki-articulos />
        </div>
    </div>
</div>