<div class="lsw_inline_tags_picker">
    <div class="flex_row centered pad_top_1">
        <div class="flex_100">
            <input class="width_100" type="text" v-model="searchText"
                spellcheck="false"
                placeholder="Busca aquí"
                v-on:keyup.enter="digestSearch" />
        </div>
        <div class="flex_1 pad_left_1">
            <button class=""
                v-on:click="digestSearch">🔎</button>
        </div>
    </div>
    
    <div class="white_space_normal inline_tags_picker_selectables margin_top_1 pad_bottom_1" v-if="isLoaded">
        <template v-for="row, rowIndex in digestedData">
            <div class="display_inline_block pad_top_1 pad_right_1"
                v-bind:key="'row_' + rowIndex">
                <button class="supermini"
                    v-on:click="() => selectRow(row)">
                    {{ row[field] }}
                </button>
            </div>
        </template>
    </div>
</div>