<div class="lsw_source_code_control lsw_formtype lsw_form_control">
    <lsw-control-label :settings="settings"
        :parent-formtype="this"
        v-if="skipLabel === false" />
    <div v-show="isEditable">
        <div ref="controller"
            v-xform.control="{
            name: settings.name,
            onValidate: settings.column?.hasValidator || $noop,
            onSetError: () => {
                isEditable = true;
            }
        }">
            <div class="">
                <div class="">
                    <textarea class="flex_100 width_100"
                        v-model="value"
                        v-on="settings.input?.events || {}"
                        v-bind="settings.input?.props || {}"
                        v-xform.input="{name: '*',onValidate: settings.input?.onValidate || $noop}"
                        :style="'font-size: ' + currentFontsize + 'px; font-family: ' + currentFontfamily + ';'"
                        spellcheck="false"
                        ref="textInput"></textarea>
                </div>
                <div class="flex_row pad_top_1">
                    <div class="flex_100"></div>
                    <div class="flex_1">
                        <button class="supermini"
                            v-on:click="() => increaseFontsize(-1)">➖</button>
                    </div>
                    <div class="flex_1 pad_left_1">
                        <button class="supermini"
                            v-on:click="() => increaseFontsize(1)">➕</button>
                    </div>
                    <div class="flex_1 pad_left_1">
                        <button class="supermini"
                            v-on:click="() => alternateFontfamily()">✍🏻|🐒</button>
                    </div>
                </div>
            </div>
            <lsw-control-error />
        </div>
    </div>
</div>