.lsw-schema-based-form {}

.schema_form_top_panel {
    padding-top: 4px;
    padding-bottom: 4px;
}

.title_box_one_line {
    display: flex;
    flex-direction: column;
}

.title_text_cell {
    flex: 1;
    padding: 4px;
    padding-left: 0px;
}

.title_database_id_cell {
    flex: 1;
    color: #000;
    padding-bottom: 4px;
}

.schema_form_title_box {
  font-size: 14px;
  background: #a4a4a445;
  border: 1px solid #transparent;
}

.subtitle_box {
    background-color: #33333388;
    color: white;
    padding: 8px;
    font-weight: bold;
}

.bottom_title_box {
    border: 0px solid black;
    border-top: 0px solid black;
}

.schema_form_title_text {
    text-shadow: 0 0 1px white;
}

.lsw_schema_form_container {
    text-align: center;
}

.lsw_schema_form_content {
    display: inline-block;
    text-align: left;
    max-width: 450px;
    width: 100%;
    resize: vertical;
}

