<div class="lsw_nueva_feature">
    <lsw-typical-title>✨ Nueva feature en construcción</lsw-typical-title>
    <div class="pad_vertical_2">🚸 Esta sección está reservada para el desarrollo</div>
    <new-canvas-experiment-1 />
    <!--lsw-naty-script-editor /-->
    <!--lsw-test-context-viewer></lsw-test-context-viewer-->
    <!--lsw-mermaid-viewer :source="mermaidSource" /-->
    <!--lsw-spontaneous-table-nota />
    <lsw-wiki-articulos /-->
    <!--lsw-keyboard-1 initial-text="Esto es una frase\nEsto es otra\nY esto otra." /-->
    <!--lsw-sqlite-console /-->
    <!--lsw-sqlite-explorer /-->
</div>