<div class="lsw_unit_test_page">
    <div class="">
        <div class="flex_row centered pad_bottom_1">
            <div class="flex_100 font_weight_bold">
                <span> 🩺 </span>
                <span v-if="!isReady"> Tests disponibles</span>
                <span v-else> Tests ejecutados</span>
            </div>
            <div class="flex_1 button_height" v-if="isReady">
                <button class="supermini"
                    v-on:click="backToTests">⬅️</button>
            </div>
            <div class="flex_1 button_height" v-else>
                <button class="supermini"
                    v-on:click="start">▶️</button>
            </div>
        </div>
    </div>
    <template v-if="!isReady">
        <div class="" v-if="!isLoaded">
            <i>Cargando tests, un momento por favor.</i>
        </div>
        <div class="pad_top_2" v-else>
            <div v-for="test, testIndex in availableTests"
                v-bind:key="'test_' + testIndex">
                <label class="flex_row centered cursor_pointer">
                    <div class="flex_1">
                        <input
                            type="checkbox"
                            :value="test"
                            v-model="selectedTests"
                        />
                    </div>
                    <div class="flex_100">
                        <div class="smallest_font">
                            <span>{{ testIndex+1 }}. Test de: </span>
                            <b>{{ test.replace(testsBaseUrl, "") }}</b>
                        </div>
                    </div>
                </label>
            </div>
            <div class="flex_row centered">
                <div class="flex_100"></div>
                <div class="flex_1">
                    <button class="supermini"
                        v-on:click="start">Iniciar tests ▶️</button>
                </div>
            </div>
        </div>
    </template>
    <template v-else>
        <lsw-unit-tester-collection
            :all-tests="downloadedTests" 
            :autorun="true"
        />
    </template>
</div>