/*
  @artifact:  Lite Starter Web Dependency
  @url:       https://github.com/allnulled/lsw-form-controls.git
  @name:      @allnulled/lsw-form-controls
  @version:   1.0.0
*/
.ControlBox {
    padding: 4px;
    padding-bottom: 0px;
}
.FormControl.ControlType {
    border: 1px solid #999;
    border-radius: 2pt;
    padding: 4px;
    margin-bottom: 4px;
}
.FormControl.ControlType textarea,
.FormControl.ControlType input[type='text'] {
    width: 100%;
}
.FormControl.ControlType textarea {
    resize: vertical;
}

