<div class="lsw_diario">
  <lsw-typical-title :buttons="diarioButtons">📖 Diario</lsw-typical-title>
  <div class="flex_row margin_top_1">
    <div class="flex_1 pad_right_1">
      <button
        class=""
        style="min-width: 40px; border-color: #486023;"
        v-on:click="saveText">
        💾
      </button>
    </div>
    <div class="flex_100">
      <div class="diario_date_box height_100" style="padding-top: 12px;">
        📝 {{ LswTimer.utils.formatDateToSpanish(selectedDate, true) }}
      </div>
    </div>
  </div>
  <div class="pad_top_1" v-if="isSelectedCalendar">
    <lsw-calendario
      ref="calendario"
      modo="date"
      :al-cambiar-valor="v => selectedDate = v"
    />
  </div>
  <div class="flex_row margin_top_1">
    <div class="flex_100" v-if="selectedMode === 'edit'">
      <textarea class="diario_textarea" spellcheck="false" :style="'font-size:' + fontSize + 'px; font-family:' + fontFamily + ';'" v-model="selectedText"></textarea>
    </div>
    <div class="flex_100" style="min-height: 300px;" v-else-if="selectedMode === 'view'">
      <lsw-markdown-viewer :source="selectedText" />
    </div>
    <div class="flex_1 pad_left_1">
      <button 
        class="diario_little_right_side_button"
        v-on:click="increaseFontSize">
        ➕
      </button>
      <button 
        class="diario_little_right_side_button"
        v-on:click="decreaseFontSize">
        ➖
      </button>
      <button 
        class="diario_little_right_side_button"
        v-on:click="toggleMonospaced">
        🐒
      </button>
      <button 
        class="diario_change_mode_button"
        style="height: calc(100% - 98px); min-width: 30px;"
        v-on:click="toggleMode">
        <span v-if="selectedMode === 'view'">📝</span>
        <span v-else>🌈</span>
      </button>
    </div>
  </div>
</div>