<div class="lsw_desktop_bottom_panel">
    <div class="desktop_bottom_panel">
        <!--button class="" v-on:click="() => LswLauncher.global.start('trackeables')">📹</button-->
        <button class="" v-on:click="() => LswLauncher.global.start('nuevo-artículo')">🔬➕</button>
        <button class="" v-on:click="() => LswLauncher.global.start('nueva-nota')">💬➕</button>
        <!--button class="" v-on:click="goToCalendario">📅</button>
        <button class="" v-on:click="goToAddArticulo">+ 🔬</button>
        <button class="" v-on:click="goToAddRecordatorio">+ 🪧</button-->
    </div>
</div>