<div class="Component LswCalendario">
  <div style="max-width: 260px;">
    <div class="like_table margin_bottom_1" style="border-collapse: collapse; border: none;">
      <div class="like_row">
        <div class="like_cell">
          <button class="boton_de_mover_mes"
            v-on:click="ir_a_mes_anterior"> ◀ </button>
        </div>
        <div class="like_cell" style="width:100%; vertical-align: top;">
          <div class="chivato_de_fecha">{{ obtener_fecha_formateada(fecha_seleccionada) }}</div>
          <div class="chivato_de_fecha" v-if="!es_solo_fecha">a las {{ expresion_de_hora }}
          </div>
        </div>
        <div class="like_cell text_align_right">
          <button class="boton_de_mover_mes"
            v-on:click="ir_a_mes_siguiente"> ▶ </button>
        </div>
      </div>
    </div>
    <table class="tabla_de_calendario">
      <tbody>
        <tr class="fila_de_dias_de_semana">
          <td>Lu</td>
          <td>Ma</td>
          <td>Mi</td>
          <td>Ju</td>
          <td>Vi</td>
          <td>Sá</td>
          <td>Do</td>
        </tr>
      </tbody>
      <tbody class="dias_de_calendario">
        <tr v-for="semana, semana_index in celdas_del_mes_actual"
          v-bind:key="'semana-' + semana_index">
          <td v-for="dia, dia_index in semana"
            v-bind:key="'dia-' + dia_index">
            <span v-if="dia">
              <button class="boton_de_calendario boton_de_dia_de_calendario"
                :class="{active: dia.getDate() === fecha_seleccionada.getDate()}"
                v-on:click="() => seleccionar_dia(dia)">{{ dia.getDate() }}</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="width_100 no_borders_table">
      <tbody>
        <tr class="fila_de_digito">
          <td v-on:click="agregar_digito_de_hora(1)"><button class="boton_de_ajuste_de_hora">▲</button></td>
          <td v-on:click="agregar_digito_de_hora(2)"><button class="boton_de_ajuste_de_hora">▲</button></td>
          <td></td>
          <td v-on:click="agregar_digito_de_hora(3)"><button class="boton_de_ajuste_de_hora">▲</button></td>
          <td v-on:click="agregar_digito_de_hora(4)"><button class="boton_de_ajuste_de_hora">▲</button></td>
          <td></td>
          <td v-on:click="$noop"><button class="boton_de_ajuste_de_hora">▲</button></td>
          <td v-on:click="$noop"><button class="boton_de_ajuste_de_hora">▲</button></td>
        </tr>
        <tr class="fila_de_digito">
          <td>{{ digito_de_hora_1 }}</td>
          <td>{{ digito_de_hora_2 }}</td>
          <td>:</td>
          <td>{{ digito_de_hora_3 }}</td>
          <td>{{ digito_de_hora_4 }}</td>
          <td>:</td>
          <td>{{ digito_de_hora_5 }}</td>
          <td>{{ digito_de_hora_6 }}</td>
        </tr>
        <tr class="fila_de_digito">
          <td v-on:click="quitar_digito_de_hora(1)"><button class="boton_de_ajuste_de_hora">▼</button></td>
          <td v-on:click="quitar_digito_de_hora(2)"><button class="boton_de_ajuste_de_hora">▼</button></td>
          <td></td>
          <td v-on:click="quitar_digito_de_hora(3)"><button class="boton_de_ajuste_de_hora">▼</button></td>
          <td v-on:click="quitar_digito_de_hora(4)"><button class="boton_de_ajuste_de_hora">▼</button></td>
          <td></td>
          <td v-on:click="$noop"><button class="boton_de_ajuste_de_hora">▼</button></td>
          <td v-on:click="$noop"><button class="boton_de_ajuste_de_hora">▼</button></td>
        </tr>
      </tbody>
    </table>
    <!--table class="tabla_para_horas"
      v-if="!es_solo_fecha">
      <tr>
        <td>
          <button style="display: table-cell;"
            class="boton_de_calendario"
            v-on:click="agregar_hora"> ▲ </button>
        </td>
        <td>
          <button style="display: table-cell;"
            class="boton_de_calendario"
            v-on:click="agregar_minuto"> ▲ </button>
        </td>
        <td>
          <button style="display: table-cell;"
            class="boton_de_calendario"
            v-on:click="agregar_segundo"> ▲ </button>
        </td>
      </tr>
      <tr>
        <td>
          <input style="display: table-cell;"
            class="entrada_de_calendario"
            type="text"
            v-model="hora_seleccionada" />
        </td>
        <td>
          <input style="display: table-cell;"
            class="entrada_de_calendario"
            type="text"
            v-model="minuto_seleccionado" />
        </td>
        <td>
          <input style="display: table-cell;"
            class="entrada_de_calendario"
            type="text"
            v-model="segundo_seleccionado" />
        </td>
      </tr>
      <tr>
        <td>
          <button style="display: table-cell;"
            class="boton_de_calendario"
            v-on:click="quitar_hora"> ▼ </button>
        </td>
        <td>
          <button style="display: table-cell;"
            class="boton_de_calendario"
            v-on:click="quitar_minuto"> ▼ </button>
        </td>
        <td>
          <button style="display: table-cell;"
            class="boton_de_calendario"
            v-on:click="quitar_segundo"> ▼ </button>
        </td>
      </tr>
    </table-->
  </div>
</div>