<div class="lsw_sqlite_explorer">
    <div class="typical_title_1 flex_row centered">
        <div class="flex_100">🧭 Explorador SQLite</div>
        <div class="flex_1 pad_left_1">
            <button class="supermini"
                v-on:click="saveDatabase">💾</button>
        </div>
        <div class="flex_1 pad_left_1">
            <button class="supermini"
                :class="{ activated: selectedSection === 'console' }"
                v-on:click="goToConsole">💻</button>
        </div>
        <div class="flex_1 pad_left_1">
            <button class="supermini"
                :class="{ activated: selectedSection === 'data' }"
                v-on:click="goToData">🔰</button>
        </div>
    </div>
    <div v-if="selectedSection === 'console'">
        <hr />
        <lsw-sqlite-console />
    </div>
    <div v-else-if="selectedSection === 'data'">
        <hr />
        <div v-if="selectedDataSection === 'tables'">
            <div class="typical_title_1 flex_row centered">
                <div class="flex_100">🫙 Tablas <span v-if="$window.LswSqlite">de <b>{{ LswSqlite.$databaseId }}</b></span></div>
                <div class="flex_1 pad_left_1">
                    <button class="supermini visibility_hidden">ok</button>
                </div>
            </div>
            <div v-if="schema">
                <div class="pad_top_1"
                    v-for="table, tableId, tableIndex in schema"
                    v-bind:key="'table_' + tableId">
                    <button class="supermini width_100 text_align_left"
                        v-on:click="() => openTable(tableId)">
                        Tabla {{ tableIndex + 1 }}: 🔰 <b>{{ tableId }}</b>
                    </button>
                </div>
            </div>
        </div>
        <div v-else-if="selectedDataSection === 'rows'">
            <div class="typical_title_1 flex_row centered">
                <div class="flex_100">🧊 Filas de <b>{{ selectedDataTable }}</b></div>
                <div class="flex_1 pad_left_1">
                    <button class="supermini"
                        v-on:click="goToTables">⬅️🫙</button>
                </div>
                <div class="flex_1 pad_left_1">
                    <button class="supermini"
                        v-on:click="goToNewItem">➕</button>
                </div>
            </div>
            <div class=""
                v-if="rows">
                <lsw-table
                    :initial-input="rows"
                    :initial-settings="{
                        title: 'Tabla ' + selectedDataTable + ' tiene ' + rows.length + ' fila' + (rows.length === 1 ? '' : 's'),
                        itemsPerPage: 50,
                    }"
                />
            </div>
        </div>
        <div v-else-if="selectedDataSection === 'new-row'">
            <div class="typical_title_1 flex_row centered">
                <div class="flex_100">➕ Nueva fila de <b>{{ selectedDataTable }}</b></div>
                <div class="flex_1 pad_left_1">
                    <button class="supermini"
                        v-on:click="goToRows">⬅️🧊</button>
                </div>
            </div>
            <div class="flex_row centered pad_top_1">
                <div class="flex_100">
                    <div class="">
                        <input type="text" class="supermini width_100" placeholder="Nombre del campo" />
                    </div>
                    <div class="pad_top_1">
                        <input type="text" class="supermini width_100" placeholder="Valor del campo" />
                    </div>
                </div>
                <div class="flex_1 pad_left_1 position_relative" style="min-width: 40px; align-self: stretch;">
                    <button class="supermini position_absolute_fixed" style="left: 4px;">➕</button>
                </div>
            </div>
        </div>
    </div>
</div>